<div class="row">
  <div class="col-12 col-sm-5 col-lg-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <a routerLink='servers'>Relative Path (will break)</a>
    <a routerLink='/servers'>Absolute Path (works)</a>
    <a routerLink='./servers'>Relative Path again (will break)</a>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>
