<div class="container">
  <p>Add new servers or blueprints!</p>

  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBluePrintAdded($event)"
  ></app-cockpit>

  <app-server-element
    *ngFor="let serverElement of serverElements"
    [srvElement]="serverElement"
  >
  <div class="card-body">
    <p class="card-text" *ngIf="serverElement.type === 'server'" style="color : red">{{serverElement.content}}</p>
    <p class="card-text" *ngIf="serverElement.type === 'bp'" style="color : blue">{{serverElement.content}}</p>
  </div>
  </app-server-element>
</div>
