<div class="container pt-3">
  <div class="row">
    <div class="col-5">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd"> {{ onlyOdd ? "Show all numbers" : "Only show odd numbers" }}
      </button>
    </div>
  <div class="col-12 pt-3">
      <ul class="list-group">
        <!-- <div *ngIf="!onlyOdd">
          <li class="list-group-item"
              *ngFor="let even of evenNumbers"
              [ngStyle]="{backgroundColor: number%2 !== 0 ? 'powderblue':'tomato'}">
            {{ even }}
          </li>
        </div> -->
        <div *appUnless="onlyOdd">
          <li class="list-group-item"
              *ngFor="let even of evenNumbers"
              [ngStyle]="{backgroundColor: number%2 !== 0 ? 'powderblue':'tomato'}">
            {{ even }}
          </li>
        </div>
        <div class="py-3">
          <li class="list-group-item"
          *ngFor="let odd of oddNumbers"
          [ngStyle]="{backgroundColor: number%2 === 0 ? 'powderblue':'tomato'}">
          {{ odd }}
        </li>
      </div>
      </ul>
    </div>
  </div>

  <br>
  <p appBasicHighlight>Custom directive test para</p>
  <!-- <p [appBetterHighlight]="'purple'" [highlightColor]="'green'">Better directive test para</p> -->
  <p appBetterHighlight [defaultColor]="'purple'" [highlightColor]="'green'">Better directive test para</p>
</div>
